<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../assets/images/Logo.png" width="80" alt="Logo">
            </div>
            <nav>
                <ul class="menu">		
                    <li><a routerLink="/home">Home </a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/login">Login </a></li>
                    <li><a  routerLink="/charts">Chart1</a></li>
                    <li><a  routerLink="/line-m-charts">Chart2</a></li>
                    <li><a  routerLink="/avg-chart">Chart3</a></li>
                </ul>
            </nav>	      
        </div>
    </div>
</div>
       
<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Grievance System</h1>
            <p>You can't hold on to a grievance and be happy.<br> Time to make choice!</p>
        </div>
    </div>
    <div class="right">
        <form (ngSubmit)="onSubmit(usnm.value, pswrd.value)">
            <h5>LOGIN</h5>
            <div class="inputs">
                <input id="usnm" #usnm type="text" placeholder="Username">
                <br>
                <input id="pswrd" #pswrd type="password" placeholder="Password">
            </div>
                <div *ngIf=error id="errorMessage" class="alert alert-danger" #errorMessage>{{error}}</div> 
            <button type ="submit">Login</button>
        </form>
    </div>
</div>

