<title>Responses</title>
 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 
  

  

<body>
    <div class="testbox">
      <form >
        <h1>Grievance Page</h1><br>
        <div class="item">
          <p>AGM Response(read Only):</p>
          <textarea rows="5" [(ngModel)]="grievance.agmResponse "  name="EmpName4" readonly></textarea>
        </div>
        <div class="item">
            <p>GM Response(read only):</p>
            <textarea rows="5" [(ngModel)]="grievance.gmResponse "  name="EmpName4" readonly></textarea>
        </div>
        <div class="btn-block">
          <button (click)="goToBack()">Back</button>
        </div>
      </form>
    </div>
  </body>
  
  