
<div>
    <div>
        <label><b>employeeID</b></label>
        {{employee.employeeID}}
    </div>
    <div>
        <label><b>employeeName</b></label>
        {{employee.employeeName}}
    </div>
    <div>
        <label><b>division</b></label>
        {{employee.division}}
    </div>
    <div>
        <label><b>department</b></label>
        {{employee.department}}
    </div>
    <div>
        <label><b>post</b></label>
        {{employee.post}}
    </div>
    <div>
        <label><b>role</b></label>
        {{employee.role}}
    </div>
    <div>
        <label><b>email</b></label>
        {{employee.email}}
    </div>
    <div>
        <label><b>lineManager</b></label>
        {{employee.lineManager}}
    </div>
    <div>
        <label><b>mobileNumber</b></label>
        {{employee.mobileNumber}}
    </div>
    <div>
        <label><b>userName</b></label>
        {{employee.userName}}
    </div>
</div>
