
<div class="navbar">
    <div class="logo">
        <a href="#"><img src="../assets/images/Logo.png" width="80px"></a>
    </div>
    <nav>
        <nav>
            <ul id="MenuItems">		
            <li><a routerLink="/home">Home </a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/login">Login </a></li>
            <li><a  routerLink="/charts">Chart1</a></li>
            <li><a  routerLink="/line-m-charts">Chart2</a></li>
            <li><a  routerLink="/avg-chart">Chart3</a></li>
            </ul>
        </nav>	
    </nav>	
    
            
</div>


<h1 style="text-align:center; margin-top:20px;margin-bottom:40px;">Department wise Average Response Time for Grievances</h1>
<div  id="divChart" *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
</div>   

    


